MONGODB_URI=
JWT_SECRET=
SMTP_VAULT_SECRET=
GMAIL_EMAIL=
GMAIL_APP_PASSWORD=
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_DISABLE_SIGNUP=false

# Backblaze B2 (S3-Compatible)
B2_S3_REGION=
B2_S3_ENDPOINT=
B2_BUCKET=
B2_BUCKET_ID=
B2_ACCESS_KEY_ID=
B2_SECRET_ACCESS_KEY=